includes:
    - phpstan-baseline.neon

parameters:
    ignoreErrors:
        - identifier: method.templateTypeNotInParameter
    level: 10
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
